:root {
  /* Fonts */
  --fuente-principal: 'Roboto', sans-serif;
  --fuente-heading: 'Lato', sans-serif;

  /* Colors */
  --color-principal: #1073ea;
  --color-segundario: #00ba55;
  --color-gris: #3b3b3b;
  --color-gris-claro: #e1e1e1;
  --color-oscuro: #1f1e1e;
  --color-claro: #fff;

  --separacion: 5rem;
}

/* * GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--fuente-principal);
}

h1,
h2,
h3,
h4 {
  margin: 0 0 5rem 0;
  line-height: 1.5;
  font-family: var(--fuente-headin);
}

h1 {
  font-size: 4.4rem;
}

@media (min-width:768px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3.6rem;
}

@media (min-width:768px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-oscuro);
}

ul {
  list-style: none;
}

input,
select,
textarea {
  outline: none;
}

[class*="-container"] {
  width: min(95%, 120rem);
  margin: 0 auto;
}

/* * Utilidades */
.text-center {
  text-align: center;
}

.degradado {
  color: transparent;
  background: linear-gradient(to right, var(--color-principal) 0%, var(--color-segundario) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}